.wrapper {
	width: 98%;
	margin: 0 auto;
	max-width: 1200px;
}


header.siteHeader {
	border-top: 3px solid rgb(11,40,64);
	body.show-nav & { border-top: none;}
	&.interior {
		height: 270px;

		background: {
			image: url(../images/interiorHeader.jpg);
			position: -180px center;
			repeat: no-repeat;
			color: rgb(33, 78, 139);
		}
		@include breakpoint(medium) {
			background-position: center center;
		}
	}
	h1 {
		margin: 0; 
		padding: 70px 30px 0;
		color: white;
		text-align: center;
		font-weight: 700;
		font-family: $strongFont;
		font-weight: 900;
		text-shadow: rgba(0,0,0,.8) 0 1px 0;
		letter-spacing: 2px;
		font-size: 48px;
		line-height: 1.1;
		@include breakpoint(medium) {
			padding: 0;
			line-height: 200px;
			font-size: 52px;
		}
	}
}

.logo {
	width: 150px;
	margin: 0 auto;
	display: block;
	position: absolute;
	top: 195px;
	left: 0;
	right: 0;
	z-index: 100;
	@include breakpoint(medium) {
		width: 160px;
		top: 152px;
	}
}


main {
	@include clearfix;
}

.staticPage {
	margin-top: 0px;
	article {
		background: white;
		padding: $padding;

		@include breakpoint(medium){
			@include gs-span(lf,2,3);
			@include gs-pad(lf, padfull);
			padding-top: 75px;
			margin-top: -45px;
		}
	}
}





aside {
	margin-top: 45px;
}

aside.headshot {
	@include gs-span(sf, all);
	img {
		width: 70%;
		margin: 0 auto;
		@include shadow;
	}
	@include breakpoint(medium) {
		@include gs-span(lf,1);
		img {
			width: 100%;
		}
	}
}

aside.actions {
	@include breakpoint(medium) {
		@include gs-span(lf,4);
	}
}







