nav.mainNav {
	@include clearfix;
	z-index: 300;

	@include breakpoint(medium) {
		
		position:  absolute;
		top: 0;
		width: 100%;
	}
	ul { 
		list-style-type: none;
		margin: 0;
		padding: 0;
		transform: scaleY(0);    
	    transform-origin: top;
	    transition: transform 0.2s ease;
	    background: $textColor;
	    position: absolute;
	    width: 100%;
	    z-index: 500;

		li {
			display: none;
			width: 100%;
			text-align: center;
			border-bottom: 1px solid rgba(255,255,255,.10);
			position: relative;
			span.icon-close { font-size: 12px; margin: 0 0 0 5px; position: absolute; top: 18px; right: $padding;}
		}

		@include breakpoint(medium) {
			transform: none;
			text-align: center;
			background: rgba(11, 40, 64, .75);
			li { 
				display: inline-block;
				width: auto;
			}
			a.close { display: none;}
		}
		body.show-nav & {
			transform: scaleY(1);
			li {display: block;}
		}
	}
	a {
		display: block;
		font-family: $headingFont;
		font-size: 16px;
		letter-spacing: 1px;
		text-transform: uppercase;		
		padding: $padding/2 $padding;
		color: rgba(255,255,255,.7);
		&.current, &:hover { color: white;}
		&.show-hide-navigation {
			position: absolute;
			top: 0;
			right: 0;
			background: rgba(11,40,64,.75);
			font-size: 16px;
			@include breakpoint(medium) {
				display: none;
			}
			body.show-nav & {
				display: none;
			}
		}
	}
}

