body {
	font-family: $textFont;
	line-height: 1.5;
}

// Links
a {
	color: $actionColor;
	&:hover { color: darken($actionColor, 20);}
	&.button {
		background: $actionColor;
		color: white;
		display: inline-block;
		padding: $padding/2 $padding;
		transition: background-color 0.3s ease;
		&:hover{ background: darken($actionColor, 20);}
		&.large {
			padding: $padding $padding*2;
			text-transform: uppercase;
		}
		&.small {
			padding: 5px 10px;
			font-size: .875rem;

		}

	}

}

h1.pageTitle {
	font-family: $strongFont;
	font-weight: 900;
	font-size: 48px;
	line-height: 1.2;
	margin: 0;
}

p {
	font-size: 16px;
	line-height: 1.5;
	padding-bottom: 18px;
	&:last-of-type { padding-bottom: none;}
}