// Measurements
$padding: 15px;

// Colors
$textColor: #333;
$actionColor: dodgerblue;
$mediumGrey: gainsboro;
$lightGrey: ghostwhite;

// Breakpoints
$smallScreen: 480px;
$mediumScreen: 768px;
$largeScreen: 1224px;
$xlargeScreen: 1600px;