// Measurements
$padding: 15px;

// Colors
$textColor: #0b2840;
$actionColor: dodgerblue;
$mediumGrey: gainsboro;
$lightGrey: ghostwhite;

// Breakpoints
$smallScreen: 480px;
$mediumScreen: 768px;
$largeScreen: 1224px;
$xlargeScreen: 1600px;

// Fonts
$textFont: "myriad-pro",sans-serif;
$headingFont: "myriad-pro-condensed",sans-serif;
$strongFont: "ff-more-web-pro",serif;